.DS_Store
*~
*.pyc
*.idea
*log*.txt
/build/
/dist/
api/vendor
api/standard
**/*.html
!statistics/template/stats.html
!api/template/*.html
!elasticsearchIndexing/json/**/*
!api/views/yang_search/json/*
/venv
yang.egg-info
/parseAndPopulate/**/*.yang
/parseAndPopulate/**/*.xml
!/parseAndPopulate/template/compilationStatusTemplate.html
!**/tests/resources/**/*.json
!**/tests/resources/**/*.html
!/utility/tests/resources/**/*.json
!secrets_oidc.json
# Ignore local versions
yang-catalog.ini
yang-catalog.service
*/yang-catalog.ini
*/yang-catalog.service
htmlcov/
.pytest_cache/*
