MAILTO=<MAIL_TO>
PYTHONPATH=/backend:/backend/bin/python
SHELL=/bin/bash
YANGCATALOG_CONFIG_PATH=<YANGCATALOG_CONFIG_PATH>
BACKEND=/backend
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
#
# Backend API maintenance
#
5 3 * * * (cd ~ ; source bin/activate ; echo "`date` starting statistics" >> /var/yang/logs/crons-log.log ; cd statistic ; python statistics.py)
5 4 * * * (cd ~ ; source bin/activate ; echo "`date` starting resolveExpiration" >> /var/yang/logs/crons-log.log ; cd parseAndPopulate ; python resolve_expiration.py)
5 5 * * * (cd ~ ; source bin/activate ; echo "`date` starting revise_tree_type" >> /var/yang/logs/crons-log.log ; cd utility ; python revise_tree_type.py)
5 6 * * * (cd ~ ; source bin/activate; echo "`date` starting openconfigPullLocal" >> /var/yang/logs/crons-log.log ; cd ietfYangDraftPull ; python openconfigPullLocal.py )
5 12 * * 0 (cd ~ ; source bin/activate ; echo "`date` starting reviseSemver" >> /var/yang/logs/crons-log.log ; cd parseAndPopulate ; python reviseSemver.py)
5 10 1 * * (cd ~ ; source bin/activate ; echo "`date` starting user_reminder" >> /var/yang/logs/crons-log.log ; cd utility ; python user_reminder.py)
5 14 * * * (cd ~ ; source bin/activate ; echo "`date` starting iana_push" >> /var/yang/logs/crons-log.log ; cd automatic_push ; python iana_push.py)
5 18 * * * (cd ~ ; source bin/activate ; echo "`date` starting ietf_push" >> /var/yang/logs/crons-log.log ; cd automatic_push ; python ietf_push.py --send-message)
5 22 * * * (cd ~ ; source bin/activate ; echo "`date` starting pull_local" >> /var/yang/logs/crons-log.log ; cd ietfYangDraftPull ; python pull_local.py )
17 18 * * * (cd ~ ; source bin/activate ; echo "`date` starting recovery" >> /var/yang/logs/crons-log.log ; cd  recovery ; python recovery.py --save)
30 15 * * * (cd ~ ; source bin/activate ; echo "`date` starting remove_unused" >> /var/yang/logs/crons-log.log ; cd  utility ; python remove_unused.py)
*/3 * * * * (cd ~ ; source bin/activate ; cd  elasticsearchIndexing ; python process_changed_mods.py)
0 2 */1 * * (cd ~ ; source bin/activate ; cd elasticsearchIndexing ; python process-drafts.py)
0 */2 * * * (cd ~ ; source bin/activate ; cd utility ; python confdFullCheck.py)
0 0 1 * * (cd ~ ; source bin/activate ; cd recovery ; python redis_users_recovery.py --save)
